body {
  color: #999999;
  background-color: #ffffff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/*Reference in Header*/
.header-reference-section {
  background-image: linear-gradient(to right, #929292, #cbcbcb, #929292);
  box-shadow: 0 1px 4px 1px #b3b3b3;
}

.reference-links {
  float: left;
}

.reference-social {
  float: right;
}

.reference-links a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 7px;
  margin: 10px 0;
  border-left: 2px solid #ffffff;
}

.reference-links a:last-child {
  border-right: 2px solid #ffffff;
}

.reference-social a {
  display: inline-block;
  height: 38px;
  width: 38px;
  padding: 10px 5px;
}

/*Search and Contacts in Header*/
.header-search-section {
  position: relative;
}

.search-section-logo {
  width: 198px;
  height: 115px;
  float: left;
  margin-right: 175px;
  background: url("../img/logo.png") no-repeat;
}

.search-section-tools {
  width: 420px;
  float: right;
  margin-right: 203px;
}

.search-section-contacts {
  width: 420px;
  margin: 19px 0;
}

.contacts-phone,
.contacts-email {
  font-size: 18px;
  color: #f32828;
  padding-left: 40px;
  position: relative;
  text-decoration: none;
}

.contacts-phone {
  margin-right: 112px;
}

.contacts-phone::before {
  display: table;
  content: "";
  background-image: url("../img/phone-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
}

.contacts-email::before {
  display: table;
  content: "";
  background-image: url("../img/mail-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -1px;
  width: 33px;
  height: 33px;
}

.search-section-field input[type="search"] {
  width: 415px;
  height: 39px;
  border: 2px solid #bdbdbd;
  border-radius: 7px;
  position: relative;
  padding-left: 10px;
  padding-right: 45px;
}

.search-section-field {
  position: relative;
}

.search-section-field input[type="submit"] {
  background-image: url("../img/lens-icon.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 6px;
  width: 27px;
  height: 27px;
  border: none;
  cursor: pointer;
}

.search-section-basket {
  position: absolute;
  right: 10px;
  height: 160px;
  width: 136px;
  background-image: linear-gradient(to top, #b70b0b, #f22929);
  z-index: 10;
  box-shadow: 0 1px 4px 1px #b3b3b3;
}

.search-section-basket a:first-child {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 10px;
  text-decoration: none;
}

.search-section-basket a:first-child:hover {
  color: #000000;
}

.basket-img-large {
  display: block;
  margin: 0 auto;
}

.search-section-basket::after {
  display: table;
  clear: both;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 68px 0 68px;
  border-color: #b70b0b transparent transparent transparent;
  position: absolute;
  bottom: -22px;
  z-index: 11;
}

/*Navigation in Header*/
.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #cac9c9;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #b3b3b3;
  height: 44px;
}

.header-menu li {
  display: inline-block;
  border-right: 2px solid #a0a0a0;
  height: 100%;
}

.header-menu li:first-child {
  padding-left: 7px;
}

.header-menu a {
  padding: 12px 30px;
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}

.header-breadcrumbs {
  padding: 18px 37px ;
}

.header-breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-breadcrumbs li {
  display: inline-block;
}

.header-breadcrumbs a {
  text-decoration: none;
  margin-right: 22px;
  font-size: 16px;
  color: #e51616;
}

.header-breadcrumbs li:first-child {
  position: relative;
}

.header-breadcrumbs li:first-child a {
  text-transform: uppercase;
  color: #858484;
  text-decoration: underline;
}

.header-breadcrumbs li:not(:last-child)::after {
  display: table;
  position: absolute;
  top: 5px;
  right: 2px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 14px;
  border-color: transparent transparent transparent #858484;
}

/*Banner*/
.banner-image {
  width: 1000px;
  height: 320px;
  position: relative;
}

.banner-switch {
  position: absolute;
}

.banner-switch-prev {
  left: 4px;
  top: 133px;
}

.banner-switch-next {
  right: 4px;
  top: 133px;
}

.banner-switch button {
  background-repeat: no-repeat;
  background-color: transparent;
  width: 47px;
  height: 47px;
  border: none;
  cursor: pointer;
}

.banner-switch-next button {
  background-image: url("../img/icon-next.png");
}

.banner-switch-prev button {
  background-image: url("../img/icon-prev.png");
}

.banner-pins {
  width: 130px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 33px;
  padding: 0;
}

.pin {
  width: 23px;
  height: 15px;
  background-color: #858484;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  border-radius: 7px;
  vertical-align: middle;
  border: none;
}

.pin-active {
  width: 29px;
  height: 19px;
  background-color: #ea2020;
  border-radius: 10px;
}

.pin:last-child {
  margin-right: 0;
}

/*Side Menu*/
.side-menu {
  width: 251px;
  float: left;
  margin-right: 30px;
}

.side-menu h2,
.popular-section h2,
.new-section h2,
.news-section h2 {
  text-transform: uppercase;
  color: #ea2020;
  border-bottom: 2px solid #ea2020;
  padding: 7px;
}

.side-menu .subsection {
  border-bottom: 2px solid #a2a2a2;
  padding: 7px;
  padding-top: 10px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  display: block;
  position: relative;
}

.side-menu .subsection-active::after {
  display: table;
  content: "";
  background-image: url("../img/catalog-active-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 7px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}

.side-menu .subsection-inactive::after {
  display: table;
  content: "";
  background-image: url("../img/catalog-inactive-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 7px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}

.side-menu .catalog-inner li a {
  text-decoration: underline;
}

.side-menu a {
  text-decoration: none;
  color: #a2a2a2;
}

.side-menu-catalog {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.catalog-inner li {
  list-style-type: disc;
  padding-top: 8px;
}

.catalog-hidden {
  display: none;
}

.catalog-inner a {
  color: #999999;
}

/*Main Content*/
.main-content {
  float: right;
  width: 715px;
  position: relative;
}

.up-btn {
  background-color: #b1b0b0;
  background-image: url(../img/icon-to-top.png);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  position: absolute;
  border-radius: 50%;
  right: -50px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 4px 1px #b3b3b3;
}

.popular-items,
.new-items,
.news-items {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-item {
  width: 225px;
  height: 265px;
  border: 2px solid #8c8b8b;
  border-radius: 7px;
  margin: 12px 0;
}

.shop-item img {
  margin: 5px auto;
  display: block
}

.shop-item h1 {
  font-size: 18px;
  color: #494848;
  text-align: center;
  margin: 0;
  text-decoration: underline;
}

.shop-item p {
  margin: 0;
  text-align: center;
  font-size: 18px;
  margin: 8px 0;
}

.shop-item p span {
  font-size: 22px;
  color: #ea2020;
}

.shop-item button span,
.shop-item button img {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.shop-item button span {
  margin-right: 3px;
}

.shop-item button {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to right, #b70b0b, #ea2424);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.new-item {
  position: relative;
}

.new-item::before {
  display: table;
  content: "";
  background-image: url("../img/new-ribbon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -18px;
  top: -33px;
  width: 100px;
  height: 120px;
}

.news-item {
  width: 350px;
  height: 156px;
  border: 2px solid #8c8b8b;
  border-radius: 7px;
  margin: 12px 0;
}

.more-items {
  text-align: right;
}

.more-items a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-right: 29px;
  color: #858484;
  position: relative;
}

.more-items a::after {
  display: table;
  content: "";
  background-image: url("../img/read-more-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -38px;
  top: 0px;
  width: 27px;
  height: 27px;
}

/*News*/
.news-item {
  padding: 5px;
  width: 340px;
}

.news-item-stats {
  width: 100px;
  float: left;
}

.news-item-stats img {
  margin-bottom: 10px;
}

.news-item-stats span {
  font-size: 12px;
  padding-left: 25px;
}

.news-time,
.news-comments {
  position: relative;
}

.news-time::before {
  display: table;
  content: "";
  background-image: url("../img/clock-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 27px;
}

.news-comments::before {
  display: table;
  content: "";
  background-image: url("../img/comment-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 27px;
}

.news-item-content {
  float: right;
  width: 235px;
}

.news-item h1 {
  color: #ea2020;
  border-bottom: 2px solid #ea2020;
  padding: 2px 7px;
  font-size: 18px;
  margin: 0;
}

.news-item p {
  font-size: 16px;
  margin-bottom: 30px;
}

.news-read-more {
  text-align: center;
  background-image: linear-gradient(to right, #b70b0b, #ea2424);
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px;
  margin-left: 105px;
}

/*Footer*/
.page-footer {
  width: 100%;
  background-color: #b1b0b0;
  margin-top: 27px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 200px;
}

.footer-content {
  padding-top: 28px;
}

.page-footer h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ea2020;
  border-bottom: 2px solid #ea2020;
  padding: 3px 7px;
}

.footer-left-column {
  float: left;
  width: 387px;
  margin-right: 6px;
}

.footer-social {
  margin-bottom: 58px;
}

.footer-social a,
.footer-social span {
  padding-right: 12px;
  display: inline-block;
  vertical-align: middle;
}

.footer-social a {
  height: 38px;
  width: 38px;
}

.footer-social a:last-child {
  padding-right: 0;
}

.footer-social span {
  text-decoration: underline;
}

.footer-copyright {
  text-transform: none;
  border-top: 2px solid #ffffff;
  margin-top: 5px;
  padding: 5px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-middle-column {
  float: left;
  width: 255px;
}

.footer-catalog {
  float: left;
  width: 75px;
  margin-right: 50px;
}

.footer-menu {
  float: right;
  width: 86px;
}

.footer-catalog ul,
.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.footer-catalog a,
.footer-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 7px;
}

.footer-right-column {
  float: right;
  width: 184px;
}

.footer-right-column p {
  padding: 0;
  margin: 0;
  padding-left: 7px;
  padding-top: 9px;
}

/*Status Effects*/
a:hover,
button:hover {
  color: #000000;
}
