body {
  color: #999999;
  background-color: #ffffff;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

/*Reference in Header*/
.header-reference-section {
  background-image: linear-gradient(to right, #929292, #cbcbcb, #929292);
  box-shadow: 0 1px 4px 1px #b3b3b3;
}

.reference-links {
  float: left;
}

.reference-social {
  float: right;
}

.reference-links a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 7px;
  margin: 10px 0;
  border-left: 2px solid #ffffff;
}

.reference-links a:last-child {
  border-right: 2px solid #ffffff;
}

.reference-social a {
  display: inline-block;
  height: 38px;
  height: 38px;
  width: 38px;
  padding: 10px;
}

/*Search and Contacts in Header*/
.header-search-section {
  position: relative;
}

.search-section-logo {
  width: 118px;
  height: 100px;
  float: left;
  margin-right: 210px;
}

.search-section-tools {
  width: 420px;
  float: right;
  margin-right: 195px;
}

.search-section-basket {
  position: absolute;
  right: 10px;
  height: 160px;
  width: 136px;
  background-image: linear-gradient(to top, #b70b0b, #f22929);
  z-index: 10;
  box-shadow: 0 1px 4px 1px #b3b3b3;
}

.search-section-basket::after {
  display: table;
  clear: both;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 68px 0 68px;
  border-color: #b70b0b transparent transparent transparent;
  position: absolute;
  bottom: -22px;
  z-index: 11;
}

/*Navigation in Header*/
.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #cac9c9;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #b3b3b3;
}

.header-menu li {
  display: inline-block;
  border-right: 2px solid #a0a0a0;
  padding: 13px 30px;
  margin: 0;
}

.header-menu li:first-child {
  padding-left: 37px;
}

.header-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  vertical-align: middle;
}

.header-breadcrumbs {
  padding: 18px 37px ;
}

.header-breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-breadcrumbs li {
  display: inline-block;
}

.header-breadcrumbs a {
  text-decoration: none;
  margin-right: 22px;
  font-size: 16px;
  color: #e51616;
}

.header-breadcrumbs li:first-child {
  position: relative;
}

.header-breadcrumbs li:first-child a {
  text-transform: uppercase;
  color: #858484;
  text-decoration: underline;
}

.header-breadcrumbs li:not(:last-child)::after {
  display: table;
  position: absolute;
  top: 5px;
  right: 2px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 14px;
  border-color: transparent transparent transparent #858484;
}

/*Banner*/
.banner-image {
  width: 1000px;
  height: 320px;
  position: relative;
}

.banner-switch {
  position: absolute;
}

.banner-switch input[type="button"] {
  display: none;
}

.banner-switch img {
  cursor: pointer;
}

.banner-switch-prev {
  left: 4px;
  top: 50%;
}

.banner-switch-next {
  right: 4px;
  top: 50%;
}

.banner-pins {
  width: 130px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

.pin {
  width: 23px;
  height: 15px;
  background-color: #858484;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  border-radius: 7px;
  vertical-align: middle;
  border: none;
}

.pin-active {
  width: 29px;
  height: 19px;
  background-color: #ea2020;
  border-radius: 10px;
}

.pin:last-child {
  margin-right: 0;
}

/*Side Menu*/
.side-menu {
  width: 251px;
  float: left;
  margin-right: 30px;
}

.side-menu h2,
.popular-section h2,
.new-section h2,
.news-section h2 {
  text-transform: uppercase;
  color: #ea2020;
  border-bottom: 2px solid #ea2020;
  padding: 7px;
}

.side-menu h3 {
  border-bottom: 2px solid #a2a2a2;
  padding: 7px;
  padding-top: 10px;
}

.side-menu-catalog {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.catalog-inner li {
  list-style-type: disc;
  padding-top: 8px;
}

.catalog-hidden {
  display: none;
}

.catalog-inner a {
  color: #999999;
}

/*Main Content*/
.main-content {
  float: right;
  width: 715px;
}

.popular-items,
.new-items,
.news-items {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-item {
  width: 225px;
  height: 265px;
  border: 2px solid #8c8b8b;
  border-radius: 7px;
  margin: 12px 0;
}

.news-item {
  width: 350px;
  height: 156px;
  border: 2px solid #8c8b8b;
  border-radius: 7px;
  margin: 12px 0;
}

/*Footer*/
.page-footer {
  width: 100%;
  background-color: #b1b0b0;
  margin-top: 27px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 200px;
}

.footer-content {
  padding-top: 28px;
}

.page-footer h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ea2020;
  border-bottom: 2px solid #ea2020;
  padding: 3px 7px;
}

.footer-left-column {
  float: left;
  width: 387px;
  margin-right: 6px;
}

.footer-social {
  margin-bottom: 58px;
}

.footer-copyright {
  text-transform: none;
  border-top: 2px solid #ffffff;
  margin-top: 11px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-middle-column {
  float: left;
  width: 255px;
}

.footer-catalog {
  float: left;
  width: 75px;
  margin-right: 50px;
}

.footer-menu {
  float: right;
  width: 86px;
}

.footer-catalog ul,
.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.footer-catalog a,
.footer-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 7px;
}

.footer-right-column {
  float: right;
  width: 184px;
}

.footer-right-column p {
  padding: 0;
  margin: 0;
  padding-left: 7px;
  padding-top: 9px;
}
